*.ts text working-tree-encoding=UTF-8 eol=crlf
*.tsx text working-tree-encoding=UTF-8 eol=crlf
*.js text working-tree-encoding=UTF-8 eol=crlf
*.jsx text working-tree-encoding=UTF-8 eol=crlf
*.json text working-tree-encoding=UTF-8 eol=crlf
*.md text working-tree-encoding=UTF-8 eol=crlf
*.css text working-tree-encoding=UTF-8 eol=crlf
*.sql text working-tree-encoding=UTF-8 eol=crlf
